@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
:root {
  /* Colores generales */
  --text: rgb(29, 21, 81);
  --background: rgb(244, 246, 254);
  --surface: rgb(238, 238, 238);
  /* Paleta principal */
  --primary: rgb(29, 21, 81);
  --white: rgb(251, 251, 254);
  --gray: rgb(238, 238, 238);
  /* Gradiente */
  --gradient-start: rgb(23, 17, 124);
  --gradient-end: rgb(4, 3, 22);
  /* Calendario */
  --calendar-weekend: rgb(232, 232, 232);
  --task-pending: rgb(217, 217, 217);
  --task-completed: rgb(255, 191, 0);
}

[data-theme=dark] {
  /* Colores generales */
  --text: rgb(251, 251, 254);
  --background: rgb(31, 31, 31);
  --surface: rgb(43, 43, 43);
  /* Gradiente */
  --gradient-start: rgb(251, 251, 254);
  --gradient-end: rgb(251, 251, 254);
}

.login__button {
  width: 100%;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: 8px;
  border: none;
  background-color: var(--gray);
  color: var(--gradient-end);
  text-transform: uppercase;
  font-family: "Changa", sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login__button:hover {
  transform: translatey(-5px);
}

.login__input-group {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--gray);
  background-color: var(--gradient-end);
  transition: all 0.3s ease;
}
.login__input-group .login__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem 0.65rem 0.65rem 0.65rem;
  color: var(--white);
}
.login__input-group .login__icon svg {
  width: 18px;
  height: 18px;
}
.login__input-group input {
  width: 100%;
  height: auto;
  padding: 0.65rem 0.5rem 0.65rem 0.5rem;
  color: var(--white) !important;
  background-color: var(--gradient-end) !important;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.875rem !important;
  outline: none;
}
.login__input-group:focus-within {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
}
.login__input-group:-webkit-autofill {
  background-color: aqua;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
}

body {
  background-color: var(--surface);
}

#header {
  position: fixed;
  z-index: 1000px;
  display: flex;
  width: 100vw;
  height: 10vh;
  padding: 0 1rem 0 15vh;
  background-color: var(--background);
  border-bottom: 1px solid var(--text);
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
}
#header .header__title {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: start;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 4rem;
  gap: 7px;
  font-family: "Changa", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--text);
  cursor: default;
  user-select: none;
}
#header .header__title .header-page-title.location {
  text-decoration: underline;
}

.header-page-title {
  cursor: pointer;
  text-decoration: none;
}
.header-page-title a {
  text-decoration: none;
  color: var(--text);
}

.header__user {
  display: flex;
  width: flex-end;
  height: center;
  padding: 0.3rem 1rem 0.3rem 1rem;
  gap: 20px;
}

.header__balance {
  display: flex;
  width: auto;
  height: auto;
  justify-content: none;
  align-items: center;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  gap: 5px;
  border-radius: 48px;
  border: 1px solid var(--text);
  background-color: var(--background);
  user-select: none;
}
.header__balance .header__balance-icon {
  overflow: hidden;
  width: 2rem;
  height: 2rem;
}
.header__balance .header__balance-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__balance span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--text);
  cursor: pointer;
}

.header__profile {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: none;
  align-items: center;
  gap: 7px;
}
.header__profile .header__profile-image {
  overflow: hidden;
  width: 2.7rem;
  height: 2.7rem;
  border: 1px solid var(--text);
  border-radius: 48px;
}
.header__profile .header__profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__profile a {
  width: 150px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--text);
}

#main-sidebar {
  z-index: 1001px;
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  width: 350px;
  height: 100vh;
  background-color: var(--background);
  box-shadow: 0 4px 10px 0 rgba(4, 3, 22, 0.15);
  color: var(--text);
  transition: width 0.3s ease;
}
#main-sidebar.closed {
  width: 80px;
  height: 100vh;
}

#sidebar-header {
  position: relative;
  display: flex;
  width: 100%;
  height: 10vh;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-bottom: 1px solid var(--text);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
#sidebar-header .sidebar__header-absolut {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.6rem 1rem 0.6rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
#sidebar-header .sidebar__toggle-container {
  position: absolute;
  display: flex;
  width: 2.8rem;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
  left: 93%;
  background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end), var(--gradient-start), var(--gradient-end));
  background-size: 300% 300%;
  animation: gradient 8s ease-in-out infinite;
  border-radius: 48px;
  border: 5px solid var(--background);
  color: var(--text);
  cursor: pointer;
  transition: left 0.4s ease;
}
#sidebar-header .sidebar__toggle-container #sidebar-toggle-icon {
  rotate: 180deg;
  display: flex;
  object-fit: cover;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  padding-right: 0.1rem;
  color: var(--background);
  transition: rotate 0.5s ease;
}
#sidebar-header .sidebar__toggle-container #sidebar-toggle-icon.closed {
  rotate: 0deg;
}
#sidebar-header .sidebar__toggle-container.closed {
  left: 110%;
}

.sidebar__logo-container {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end), var(--gradient-start), var(--gradient-end));
  background-size: 300% 300%;
  animation: gradient 8s ease-in-out infinite;
  border-radius: 8px;
}
.sidebar__logo-container svg {
  display: flex;
  width: 24px;
  height: 24px;
  color: var(--background);
}

.sidebar__title-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}
.sidebar__title-container .sidebar__title {
  font-size: 1.125rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar__title-container .sidebar__subtitle {
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar__title-container.closed {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.sidebar__menu-container {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  max-height: 1000px;
  width: 100%;
  height: 100%;
  padding: 1.2rem 1rem 1.2rem 1rem;
}
.sidebar__menu-container .sidebar__menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  list-style: none;
  gap: 0.8rem;
}

.sidebar__menu-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}
.sidebar__menu-item .sidebar__link-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  gap: 0.5rem;
  font-family: "Changa", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  visibility: visible;
  transition: justify-content 0.3s ease;
}
.sidebar__menu-item .sidebar__link-wrapper .sidebar__icon {
  line-height: 0;
}
.sidebar__menu-item .sidebar__link-wrapper .sidebar__text {
  display: flex;
  line-height: 1;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}
.sidebar__menu-item .sidebar__link-wrapper .sidebar__text.closed {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.sidebar__menu-item .sidebar__link-wrapper.closed {
  justify-content: center;
  align-items: center;
}
.sidebar__menu-item .sidebar__link-wrapper-li {
  display: flex;
  background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end), var(--gradient-start), var(--gradient-end));
  background-size: 300% 300%;
  animation: gradient 8s ease-in-out infinite;
  width: 0%;
  height: 2px;
  transition: all 0.3s ease;
  border-radius: 48px;
}
.sidebar__menu-item .sidebar__link-wrapper-li.location {
  width: 100%;
  height: 2px;
}
.sidebar__menu-item:hover .sidebar__link-wrapper-li {
  width: 100%;
  height: 2px;
}

.sidebar__icon svg {
  display: flex;
  object-fit: cover;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--text);
}

.sidebar__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;
  gap: 0.8rem;
  background-color: var(--background);
  border-top: 1px solid var(--text);
}
.sidebar__footer .sidebar__button {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  gap: 0.5rem;
  background-color: var(--text);
  color: var(--background);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.sidebar__footer .sidebar__button svg {
  display: flex;
  object-fit: cover;
  width: 1.125rem;
  height: 1.125rem;
  color: var(--background);
}
.sidebar__footer #sidebar-btn-logout-text {
  font-family: "Changa", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}
.sidebar__footer #sidebar-btn-logout-text.closed {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

#home-hero {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10vh 0 0 100px;
  justify-content: center;
  align-items: center;
}

#home-hero-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  width: clamp(250px, 60vw, 800px);
  justify-content: none;
  align-items: center;
  gap: 1rem;
}
#home-hero-container .home-hero__banner {
  display: flex;
  justify-content: none;
  align-items: center;
  width: 100%;
  height: 180px;
  max-height: 180px;
  padding: 1rem 1rem 1rem 1rem;
  gap: 1rem;
  background: linear-gradient(120deg, #80A4FF 0%, #477BFE 100%);
  border-radius: 16px;
}
#home-hero-container .home-hero__banner .home-hero__image-container {
  display: flex;
  justify-content: none;
  align-items: center;
  width: 180px;
  height: 100%;
  min-width: 180px;
  max-width: 180px;
}
#home-hero-container .home-hero__banner .home-hero__image-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
#home-hero-container .home-hero__banner .home-hero__content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  #home-hero-container .home-hero__banner .home-hero__content {
    text-align: center;
  }
}
@media (max-width: 768px) {
  #home-hero-container .home-hero__banner {
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: none;
    gap: 0.5rem;
  }
}

.home-hero__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 2;
}
@media (max-width: 768px) {
  .home-hero__title {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.home-hero__description {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
@media (max-width: 768px) {
  .home-hero__description {
    font-size: 1rem;
    font-weight: 400;
  }
}

#login {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../assents/SVG/login-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: all 1s ease;
}
#login #login-container {
  display: flex;
  flex-direction: column;
  width: 42vw;
  height: 100vh;
  background: linear-gradient(125deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  box-shadow: 4px 0 12px 0 rgba(var(--gradient-end), 0.2);
  padding: 1rem 1rem 1rem 1rem;
}
#login #login-container #login-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 10vh;
  padding: 0.5rem 3rem 0.5rem 3rem;
}
#login #login-container #login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  #login #login-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(125deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  }
}

#login-logo {
  display: flex;
  width: auto;
  height: 90%;
  object-fit: cover;
}

#login-home-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Changa", sans-serif;
  font-style: normal;
  font-size: 1.75rem;
  color: var(--white);
}
#login-home-link .input-highlight {
  height: 2px;
  width: 0;
  background-color: var(--gray);
  transition: all 0.3s ease;
}
#login-home-link:hover .input-highlight {
  width: 100%;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 18px;
  transform: all 1s ease;
}
#login-form #login-title {
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Changa", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: var(--gray);
}
#login-form #login-description {
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--gray);
}
#login-form #login-role {
  width: 100%;
  padding: 0.65rem 0.65rem 0.65rem 0.65rem;
  border-radius: 8px;
  border: 2px solid var(--gray);
  outline: none;
  background-color: var(--gradient-end);
  color: var(--gray);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
}
#login-form #login-options {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: none;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-transform: capitalize;
  font-size: 0.875rem;
  color: var(--gray);
}
#login-form #login-options #login-remember {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--gradient-end);
  border: 2px solid var(--gray);
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all 0.3s ease;
}
#login-form #login-options #login-remember:checked {
  background-color: var(--gray);
  color: var(--gradient-end);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='$black'%3E%3Cpath d='M9 15.59 4.71 11.3 3.3 12.71l5 5c.2.2.45.29.71.29s.51-.1.71-.29l11-11-1.41-1.41L9.02 15.59Z'/%3E%3C/svg%3E");
}
@media (max-width: 768px) {
  #login-form {
    width: 60%;
    height: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
