@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.login__button {
  width: 100%;
  padding: 0.5rem 0.65rem 0.5rem 0.65rem;
  border-radius: 12px;
  border: none;
  background-color: rgb(251, 251, 254);
  color: rgb(4, 3, 22);
  text-transform: uppercase;
  font-family: "Changa", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login__button:hover {
  transform: translatey(-5px);
}

.login__input-group {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid rgb(251, 251, 254);
  background-color: rgb(4, 3, 22);
  transition: all 0.3s ease;
}
.login__input-group .login__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem 0.65rem 0.65rem 0.65rem;
  color: rgb(251, 251, 254);
}
.login__input-group .login__icon svg {
  width: 18px;
  height: 18px;
}
.login__input-group input {
  width: 100%;
  height: auto;
  padding: 0.65rem 0.5rem 0.65rem 0.5rem;
  color: rgb(251, 251, 254);
  background-color: rgb(4, 3, 22);
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1rem;
  outline: none;
}
.login__input-group:focus-within {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
}

#login {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../assents/SVG/login-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: all 1s ease;
}
#login #login-container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 100vh;
  background: linear-gradient(125deg, #0D0A49 0%, rgb(4, 3, 22) 100%);
  box-shadow: 4px 0 12px 0 rgba(0, 0, 0, 0.25);
  padding: 1rem 1rem 1rem 1rem;
}
#login #login-container #login-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 10vh;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
#login #login-container #login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  #login #login-container {
    width: 100vw;
    height: 100vh;
  }
}
@media (max-width: 768px) {
  #login {
    background: rgb(4, 3, 22);
  }
}

#login-logo {
  display: flex;
  width: auto;
  height: 100%;
  object-fit: cover;
}

#login-home-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Changa", sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: rgb(251, 251, 254);
}
#login-home-link .input-highlight {
  height: 2px;
  width: 0;
  background-color: rgb(251, 251, 254);
  transition: all 0.3s ease;
}
#login-home-link:hover .input-highlight {
  width: 100%;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 18px;
  transform: all 1s ease;
}
#login-form #login-title {
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Changa", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  color: rgb(251, 251, 254);
}
#login-form #login-description {
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  color: rgb(251, 251, 254);
}
#login-form #login-role {
  width: 100%;
  padding: 0.65rem 0.65rem 0.65rem 0.65rem;
  border-radius: 12px;
  border: 2px solid rgb(251, 251, 254);
  outline: none;
  background-color: rgb(4, 3, 22);
  color: rgb(251, 251, 254);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1rem;
}
#login-form #login-options {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: none;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: rgb(251, 251, 254);
}
#login-form #login-options #login-remember {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: rgb(4, 3, 22);
  border: 2px solid rgb(251, 251, 254);
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all 0.3s ease;
}
#login-form #login-options #login-remember:checked {
  background-color: rgb(251, 251, 254);
  color: rgb(4, 3, 22);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='$black'%3E%3Cpath d='M9 15.59 4.71 11.3 3.3 12.71l5 5c.2.2.45.29.71.29s.51-.1.71-.29l11-11-1.41-1.41L9.02 15.59Z'/%3E%3C/svg%3E");
}
@media (max-width: 768px) {
  #login-form {
    width: 60%;
    height: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
