@use "abstracts/animaciones";
@use "abstracts/colores";
@use "abstracts/gradientes";
@use "abstracts/mixins";
@use "abstracts/tipografias";
@use "abstracts/variables";

@use "components/button";
@use "components/input";
@use "components/checkbox";
@use "components/card";
@use "components/logo";

@use "loyout/header";
@use "loyout/sidebar";

@use "pages/login";
@use "pages/home";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

