@use "../abstracts/colores" as *;
@use "../abstracts/gradientes" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/tipografias" as *;
@use "../abstracts/variables" as *;


#main-sidebar{
    z-index: 1001px;
    position: fixed;

    display: flex;
    flex-direction: column;
    max-width: 60%;
    @include size(350px, 100vh);

    background-color: $background;
    @include shadow(0,4px,10px);
    color: $text;

    transition: width 0.3s ease;

    &.closed{
        @include size(80px, 100vh);
    }
}

#sidebar-header{
    position: relative;
    display: flex;
    @include size(100%,10vh);
    min-height: 10vh;
    @include justify-align(center,center);

    background-color: $background;
    border-bottom: 1px solid $text;
    
    @include font-montserrat;

    .sidebar__header-absolut{
        display: flex;
        @include size(100%,100%);
        @include padding(0.6rem,1rem);
        @include justify-align(center,center);
        gap: 0.8rem;
    }

    .sidebar__toggle-container{
        position: absolute;
        display: flex;
        @include size(2.8rem,2.8rem);
        @include justify-align(center,center);
        left: 93%;

        @include linear-gradient-animation(120deg, $gradient-start, $gradient-end);
        border-radius: $radius-3xl;
        border: 5px solid $background;
        color: $text;
        cursor: pointer;

        transition: left 0.4s ease;

        #sidebar-toggle-icon{
            rotate: 180deg;
            display: flex;
            object-fit: cover;
            @include size(2rem,2rem);
            @include justify-align(center,center);
            padding-right: 0.1rem;
            color: $background;

            transition: rotate 0.5s ease;

            &.closed{
                rotate: 0deg;
            }
        }

        &.closed{
           left: 110%;
        }
    }
}

.sidebar__logo-container{
    display: flex;
    @include size(48px,48px);
    @include justify-align(center,center);
    @include padding(0.5rem);

    @include linear-gradient-animation(120deg, $gradient-start, $gradient-end);
    border-radius: $radius-sm;

    svg{
        display: flex;
        @include size(24px,24px);
        color: $background;
    }
}
.sidebar__title-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @include size(100%, auto);

    opacity: 1;
    visibility: visible;

    transition: opacity 0.3s ease;

    .sidebar__title{
        font-size: $font-18;
        font-weight: 600;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sidebar__subtitle{
        font-size: $font-12;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.closed{
        opacity: 0;
        position: absolute;
        visibility: hidden;
    }
}


.sidebar__menu-container{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    max-height: 1000px;
    @include size(100%,100%);
    @include padding(1.2rem,1rem);

    .sidebar__menu-list{
        display: flex;
        flex-direction: column;
        @include size(100%,auto);

        list-style: none;
        gap: 0.8rem;
    }
}

.sidebar__menu-item{
    display: flex;
    flex-direction: column;
    @include size(100%,auto);
    @include justify-align(center,flex-start);

    cursor: pointer;

    .sidebar__link-wrapper{
        display: flex;
        @include size(100%,auto);
        @include justify-align(flex-start,center);
        @include padding(0.4rem);
        gap: 0.5rem;

        @include font-changa;
        text-transform: uppercase;
        font-size: $font-16;
        font-weight: 500;

        opacity: 1;
        visibility: visible;

        transition: justify-content 0.3s ease;

        .sidebar__icon{
            line-height: 0;
        }

        .sidebar__text{
            display: flex;
            line-height: 1;
            @include justify-align(flex-start,center);

            opacity: 1;
            visibility: visible;

            transition: opacity 0.3s ease;

            &.closed{
                opacity: 0;
                visibility: hidden;
                position: absolute;
            }
        }

        &.closed{
            @include justify-align(center,center);
        }
    }

    .sidebar__link-wrapper-li{
        display: flex;
        @include linear-gradient-animation(120deg, $gradient-start, $gradient-end);
        @include size(0%, 2px);
        transition: $transition-fast;
        border-radius: $radius-3xl;
    }

    .sidebar__link-wrapper-li.location{
        @include size(100%, 2px);
    }

    &:hover .sidebar__link-wrapper-li{
        @include size(100%, 2px);
    }
}

.sidebar__icon{
    svg{
        display: flex;
        object-fit: cover;
        @include size($font-20,$font-20);
        color: $text;
    }
}

.sidebar__footer{
    display: flex;
    flex-direction: column;
    @include size(100%,auto);
    @include justify-align(center,center);
    @include padding(1rem,1rem,2rem,1rem);
    gap: 0.8rem;

    background-color: $background;
    border-top: 1px solid $text;

    .sidebar__button{
        display: flex;
        @include size(100%,auto);
        @include justify-align(center,center);
        @include padding(0.6rem); 
        gap: 0.5rem;

        background-color: $text;
        color: $background;
        border: none;
        border-radius: $radius-sm;

        cursor: pointer;

        svg{
            display: flex;
            object-fit: cover;
            @include size($font-18,$font-18);
            color: $background;
        }
    }

    #sidebar-btn-logout-text{
        @include font-changa;
        text-transform: uppercase;
        font-size: $font-16;
        line-height: 0;

        opacity: 1;
        visibility: visible;

        transition: opacity 0.3s ease;

        &.closed{
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
    }
    
}
