@use "../abstracts/colores" as *;
@use "../abstracts/gradientes" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/tipografias" as *;
@use "../abstracts/variables" as *;

.login__input-group{
    overflow: hidden;
    display: flex;
    @include size(100%, auto);
   
    @include justify-align;

    border-radius: $radius-md;
    border: 2px solid $white;

    background-color: $black;

    transition: $transition-fast;

    .login__icon{
        display: flex;
        @include justify-align;

        @include padding(0.65rem);
        color: $white;
        
        svg{
            @include size(18px, 18px);
        }
    }

    input{
        @include size(100%, auto);

        @include padding(0.65rem, 0.5rem);
        color: $white;

        background-color: $black;
        border: none;
        
        @include font-montserrat;
        font-size: $font-md;

        outline: none;
    }

    &:focus-within{
        @include shadow(0, 0, 0, 4px, rgba(255, 255, 255, 0.25));
    }
}