// ===========================
// Colores Base
// ===========================

$white: #FBFBFE;
$black: #040316;

// ===========================
// Colores Primarios
// ===========================

$primary: #1D1551;
$secondary: #B541FA;