// ===========================
// Colores Base
// ===========================

$white: rgb(251, 251, 254);
$black: rgb(4, 3, 22);

// ===========================
// Colores Primarios
// ===========================

$primary: rgb(29, 21, 81);
$secondary: rgb(181, 65, 250);