
@mixin linear-gradient($deg, $color-0, $color-100) {
    background: linear-gradient(
        $deg,
        $color-0 0%,
        $color-100 100%
    );
}

@mixin linear-gradient-animation(
    $deg,
    $color-0,
    $color-100,
    $duration: 8s
) {
    background: linear-gradient(
        $deg,
        $color-0,
        $color-100,
        $color-0,
        $color-100
    );

    background-size: 300% 300%;
    animation: gradient $duration ease-in-out infinite;
}